
/* -- HEADER -- */
body{
    width: 100%;
    background-color: #666666;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
}
.navbar {
	margin-bottom: 0;
	
}

.jumbotron {
	background-color: #000000;
	color: #ffffff;
	padding:20px 0;
	font-family: 'AHARONI';
	border-radius: 30px;
}

/* -- POST -- */
.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px solid #fff;
}

.post .post-title a {
	color:#fff;
}

.post .thumb {
	margin-right:10px;
	width:40%;
}

.post .thumb img {
	width:100%;
}

article{
	color: #fff;
}
aside h4{
	color: #fff;
}
